 <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-md">
            <p class="text-uppercase font-weight-bold text-small text-muted">
              Buddy Tracking Heaven
            </p>
             <small class="text-muted">Join The Best Dating App!</small>
          </div>
          <div class="col-md-6 col-sm-6 mb-4">
            <div class="card pricing1">
              <img class="card-img px-lg mb-md" src="assets/illustrations/rocket.svg" alt="">
              <div class="heading">Sign Up</div>
              <div class="price">Get Your FREE</div>
              <p class="lead">Account</p>

              <div class="features mb-md">
                <p>Cursus morbi vulputate auctor at vim urna pellentesque sapien vivamus proin vivamus rutrum tellus food truck risus bibendum urna.</p>
              </div>
              <span class="flex-grow-1"></span>
              <div class="card-action">
                <button class="btn btn-sm btn-raised btn-raised-primary">Sign Up</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 mb-4">
            <div class="card pricing1">
              <img class="card-img px-lg mb-md" src="assets/illustrations/business_deal.svg" alt="">
              <div class="heading">Executive</div>
              <div class="price">£39.99</div>
              <small>Monthly</small>

              <div class="features mb-md">
                <p>Complete CRM Service</p>
                <p>10TB Disk Space</p>
                <p>Upto 100 Users</p>
                 <p>Complete CRM Service</p>
                <p>10TB Disk Space</p>
              </div>
              <span class="flex-grow-1"></span>
              <div class="card-action">
                <button class="btn btn-sm btn-raised btn-raised-primary">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========== End Pricings ========= -->
