<section class="section-front" id="box">
  <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
      </div>
      <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
      </div>
      
      <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
      </div>
      
      <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
      </div>
      <div class="bird-container bird-container--five">
        <div class="bird bird--five"></div>
      </div>
      <div class="container" id="pricing">
        <div class="row">
        <div class="jumbotron">
          <div class="col-12 mb-md text-center">
        <%= link_to image_tag('logo_small.png'), root_path, class: "navbar-brand" %>
           <p class="lead">The World Finest Matchmaking App</p>
          </div>
          </div>
        <div class="col-md-6 col-sm-6 mb-4">
            <div class="card pricing1">
              <img class="card-img px-lg mb-md" src="assets/illustrations/baby.svg" alt="">
              <div class="heading">Sign Up</div>
              <div class="price">Get Your FREE</div>
              <p class="lead">Account</p>

              <div class="features mb-md">
                <p>Cursus morbi vulputate auctor at vim urna pellentesque sapien vivamus proin vivamus rutrum tellus food truck risus bibendum urna.</p>
              </div>
              <span class="flex-grow-1"></span>
              <div class="card-action">
                <button class="btn btn-sm btn-raised btn-raised-primary"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 mb-4">
            <div class="card pricing1">
              <img class="card-img px-lg mb-md" src="assets/illustrations/business_deal.svg" alt="">
              <div class="heading">Extra Lurve</div>
              <div class="price">£29.99</div>
              <small>Monthly</small>

              <div class="features mb-md">
                <p>Extra Lurve Options</p>
                <p>Lurveable Messages</p>
                <p>Lurveable In Mail</p>
                 <p>Lurveable Meetings</p>
                <p>Lurveable Mini Dates</p>
              </div>
              <span class="flex-grow-1"></span>
              <div class="card-action">
                <button class="btn btn-sm btn-raised btn-raised-primary"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></button>
              </div>
            </div>
          </div>
          <div class="jumbotron">
            <div class="col-12 mb-md text-center">
              <%= link_to image_tag('logo_small.png'), root_path, class: "navbar-brand" %>
              <p class="lead">The World Finest Matchmaking App</p>
            </div>
          </div>
        </div>
      </div>
    </section>
