<div class="row text-center">
<ul id="slides">
  <% @users.each do |user| %>
    <li class="slide" data-id="<%= user.id %>">
      <%= user.first_name %>
    </li>
  <% end %>
</ul>
<div class="btn-group mt-4 mb-1" role="group" aria-label="Basic example">
  <button type="button" id="decline" class="btn btn-danger"><i class="fa fa-skull fa-3x"></i>Decline</button>
  <button type="button"  id="approve" class="btn btn-success"><i class="fa fa-heart fa-3x"></i>Approve</button>
</div>
  <div class="jumbotron">
            <div class="col-12 mb-md text-center">
              <%= link_to image_tag('logo_small.png'), root_path, class: "navbar-brand" %>
              <p class="lead">The World Finest Matchmaking App</p>
            </div>
          </div>


