// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/announcements";
@import "done/done";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
.section-front {
  margin-bottom:30px;
  border: solid 2px #e8e8e8;

}
body > main > div > section > div.container > div > div:nth-child(3) > div > div.card-action > button > a,
body > main > div > section > div.container > div > div:nth-child(2) > div > div.card-action > button > a {
  color:white;
}
// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
.jumbotron {
  background:#f5f2f2;
  padding-top: 20px;
  padding-bottom: 5px;
}
#slides {
  position: relative;
  height: 400px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  font-size: 40px;
  //padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  transition: opacity 1s;
}
.showing {
  opacity: 1;
  z-index: 2;
}

#slide-controls {
span {
  text-align: center;
}
}
