// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/announcements";
@import "done/done";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.jumbotron {
  background:#f5f2f2;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
}
